<% provide(:title, "about") %>
<h1 class="display-5 fw-bold">Why a7a.io ?</h1>
<div class="list-group">
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-break">
    Place to write your thoughts.
    </h5>
  </div>
</a>
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-left text-break">
    Your thoughts are never judeged, commented on, or even changed. Your thoughts are just there till the end of the internet.
    </h5>
  </div>
</a>
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-left text-break">
    You can share your thoughts on the live. Your thoughts will be visible for 7 hours only. The messege then disapear from live and will only be avialable on your page.
    </h5>
  </div>
</a>
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-left text-break">
    The thoughts in your page are only visible to you, no one else can see it.
    </h5>
  </div>
</a>
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1 text-left text-break">
    The word 'a7a' is one of the most varying and interchangeable words that exists in the Egyptian Language. While the word 'a7a' is often seen as one of the most vulgar words in the Arabic language, it’s very commonly used in everyday speech.  Check the resouces below.
https://mishkida.tumblr.com/post/78801565012/egypts-a7a-moment-arabic-cartoons-have

https://egyptindependent.com/egypt-s-deafening-three-letter-yell/

    </h5>
  </div>
</a>
</div>

