<% provide(:title, "live [beta]") %>
<h1 class="display-5 fw-bold" style="display:inline;">a7a.io</h1>
<small class="text-muted" style="display:inline;">[beta]</small>
<div class="mx-auto col-lg-6">
  <%= render 'thoughts/form', thought: @thought %>
</div>
<br/>
<div class="list-group">
  <% @thoughts.each do |thought| %>
    <%= render 'thoughts/thought', thought: thought %>
  <% end %>
</div>