<% provide(:title, "live [beta]") %>
<div class="container my-5">
  <div class="px-4 py-5 my-5 text-center rounded-3 border shadow-lg">
    <h1 class="display-5 fw-bold">a7a.io</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Write your expressive opinionated thought.</p>
      <form>
        <div class="form-group">
          <textarea maxlength="140" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-outline-primary btn-lg px-4 me-sm-3">
          <img class="d-block mx-auto mb-6" src="/img/interrobang.svg" alt="" width="16" height="36">
        </button>
      </form>
    </div>
    <hr/>
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active btn-dark">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>
  </div>

  




</div>
