<% provide(:title, "live [beta]") %>
<div class="container my-5">
  <div class="px-4 py-5 my-5 text-center rounded-3 border shadow-lg">
    <h1 class="display-5 fw-bold">a7a.io</h1>
    <div class="col-lg-6 mx-auto">
      <%= render 'thoughts/form', thought: @thought %>
    </div>
    <br/>
    <div class="list-group">
      <% @thoughts.each do |thought| %>
      <%= render 'thoughts/thought', thought: thought %>
      <% end %>
    </div>
  </div>
</div>